body{

    margin:0;

    padding:0;

    background:#f4f4f4;

    font-family:Arial,sans-serif;

}

.container{

    width:70%;

    margin:40px auto;

    background:white;

    padding:30px;

    border-radius:10px;

    box-shadow:0 0 10px rgba(0,0,0,.2);

}

h1{

    text-align:center;

    color:#1e88e5;

}

p{

    font-size:18px;

}

input{

    width:100%;

    padding:12px;

    margin-top:20px;

    margin-bottom:20px;

    font-size:16px;

    border-radius:5px;

    border:1px solid #ccc;

    box-sizing:border-box;

}

button{

    width:100%;

    padding:12px;

    background:#1e88e5;

    color:white;

    border:none;

    border-radius:5px;

    cursor:pointer;

    font-size:16px;

}

button:hover{

    background:#1565c0;

}

.card{

    margin-top:30px;

    background:#fafafa;

    padding:20px;

    border-radius:8px;

}

a{

    display:block;

    margin-top:30px;

    text-align:center;

    text-decoration:none;

    color:#1e88e5;

}